<form name="homeForm" ng-submit="vm.go()">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <p>
                <a class="btn btn-primary btn-block" ui-sref="game({id:'new'})">New Game</a>
            </p>
        </div>
        <div  class="col-md-9 col-xs-12 games-list">
            <h3 class="text-muted">Games</h3>
            <div class="row" ng-repeat="game in vm.games">
                <div class="col-xs-2 text-center">
                    <img ng-src="{{game.owner.gravatar}}?s=40" class="img-circle" ng-if="game.owner.gravatar" />
                    <i class="fa fa-circle" ng-if="!game.owner.gravatar"></i>
                </div>
                <div class="col-xs-8">
                    <a ui-sref="game({id:game._id})" ng-if="!game.deleted">{{game.name}}</a>
                    <a href="" ng-click="vm.undoDeleteGame(game)" ng-if="game.deleted">undo</a>
                </div>
                <div class="col-xs-2 text-center">
                    <a href="" ng-click="vm.deleteGame(game)" class="pull-right text-muted" ng-if="!game.deleted"><i class="fa fa-trash"></i></a>
                    <a href="" ng-click="vm.undoDeleteGame(game)" class="pull-right text-muted" ng-if="game.deleted"><i class="fa fa-undo"></i></a>
                </div>
            </div>
        </div>
    </div>
</form>

