body { padding-top: 70px; }
.game.well:hover { background: #ccc; }

.bid-options {
    text-align: center;
    &>span {
        font-size: 2em;
        font-weight: bold;
        display: inline-block;
        height: 2em;
        width: 2em;
        overflow: hidden;
        line-height: 1.7em;
        border: 4px solid #ccc;
        background: #eee;
        border-radius: 8px;
        margin: 0 7px 10px;
    }
}